<li id="<%= dom_id task, :form %>" class="list-group-item">
<%= form_with(model: task) do |form| %>
  <div class="field">
    <%= form.label :content, class: "visually-hidden" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
