<p id="notice"><%= notice %></p>

<p>
  <strong>Tasks:</strong>
  <%= @task.tasks %>
</p>

<p>
  <strong>Tasks count:</strong>
  <%= @task.tasks_count %>
</p>

<p>
  <strong>Task caption:</strong>
  <%= @task.task_caption %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @task.owner_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
