<li id="task-<%= @task.id %>" class="list-group-item" >
  <div class="card-body">
    <div>
      <p><%= @task.body %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>
        <% if @task.status == :pending%>
          <%= link_to move_task_path(@task), method: "put" do %>
            <i class="fa-solid fa-arrow-right"></i>
          <% end %>
        <% elsif @task.status == :wip %>
          <%= link_to move_task_path(@task), method: "put" do %>
            <i class="fa-solid fa-check"></i>
          <% end %>
        <% elsif @task.status == :completed %>
          <%= link_to move_task_path(@task), method: "put" do %>
            <i class="fa-solid fa-backward"></i>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="col">
      <span>
        <%= link_to  edit_task_path(@task), remote: true do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      </span>
    </div>
    <div class="col">
      <span>
        <%= link_to edit_task_path(@task) do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </span>
    </div>
  </div>
</li>
